<%-include("header.ejs") %>

<div class="container text-light p-5">
  <h1>About</h1>
  <p style="width: 50vw" class="pt-4">
    9BLOG is a simple blog application that allows users to create, read,
    update, and delete blog posts. It is built using Node.js and Express. The
    application is styled using Bootstrap and custom CSS.
  </p>
</div>
<%-include("footer.ejs")%>
