<%-include("header.ejs")%>

  <body>
    <a href="/">Home</a>
    <h1>Create a new post</h1>
    <form action="/create-post" method="POST">
      <input type="text" name="title" placeholder="Title" />
      <input type="text" name="author" placeholder="Author" />
      <input type="text" name="password" placeholder="Password" />
      <textarea name="content" placeholder="Content"></textarea>
      <button type="submit">Create</button>
    </form>
  </body>
</html>
